In [ ]:
from datasets import load_dataset
from huggingface_hub import login

# Login 
login(token="hf_MTOKEN_TOKEN_LLI")
ds = load_dataset("ainlpml/english-hindi")

In [7]:
print(ds)

DatasetDict({
    train: Dataset({
        features: ['text'],
        num_rows: 20000
    })
})

In [11]:
# Save the train split to an Excel file locally (do not commit)
df_raw = ds['train'].to_pandas()
df_raw.to_excel('train.xlsx', index=False)

In [14]:
# load data

import pandas as pd
df = pd.read_excel('train.xlsx')
df

,A,B
0,"However, Paes, who was partnering Australia's ...",आस्ट्रेलिया के पाल हेनली के साथ जोड़ी बनाने वाल...
1,"Whosoever desires the reward of the world, wit...",और जो शख्स (अपने आमाल का) बदला दुनिया ही में च...
2,"""The value of insects in the biosphere is enor...","जैव-मंडल में कीड़ों का मूल्य बहुत है, क्योंकि ..."
3,Mithali To Anchor Indian Team Against Australi...,आस्ट्रेलिया के खिलाफ वनडे टीम की कमान मिताली को
4,After the assent of the Honble President on 8t...,"8 सितम्‍बर, 2016 को माननीय राष्‍ट्रपति की स्‍व..."
...,...,...
9995,"With these few, well - chosen words, wise King...","इन चंद, चुनिंदा शब्दों से बुद्धिमान राजा सुलैम..."
9996,Police have arrested two people and apprehende...,पुलिस ने युवकों का पीछा कर दो युवकों को हिरासत...
9997,"""The annual production of poultry meat in 1991...",में मुर्गीपालन से प्राप्त मांस तथा गाद का अनुम...
9998,Step 1: Visit the official websites rsosapp.ra...,सबसे पहले ऑफिशियल वेबसाइट education. rajasthan...
9999,Anil Ambanis Reliance Group has sued news chan...,डिस्क्लेमर : अनिल अंबानी के रिलायंस ग्रुप ने N...

In [15]:
# Word count analyssis
df['WordCount_English'] = df['A'].apply(lambda x: len(str(x).split()))
df['WordCount_Hindi'] = df['B'].apply(lambda x: len(str(x).split()))

In [16]:
# filtering range
df = df[(df['WordCount_English'] >= 5) &
    (df['WordCount_English'] <= 50) &
    (df['WordCount_Hindi'] >= 5) &
    (df['WordCount_Hindi'] <= 50)]

In [17]:
df['WordCount_Diff'] = df['WordCount_English'] - df['WordCount_Hindi']  #Word Count difference

C:\Users\jatin\AppData\Local\Temp\ipykernel_24656\2317741972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['WordCount_Diff'] = df['WordCount_English'] - df['WordCount_Hindi']

In [19]:
df = df[
    (df['WordCount_Diff'] >= -10) &
    (df['WordCount_Diff'] <= 10)
]                                                   # Filter by differnece

In [21]:
df = df[[
    "A", "B", "WordCount_English", "WordCount_Hindi", "WordCount_Diff"
]]

# Save output
df.to_excel("output_dataset.xlsx", index=False)